<div class="container">
  <div class="jumbotron">
    <% if current_user %>
      <h2> Welome <%= current_user.email%>!</h2>
    <% else %>
      <h2>Welcome to Martin Family Orchards!</h2>
    <% end %>
  </div>
</div>
