<div class="container">
  <div class="jumbotron">
    <% if current_user %>
      <h1>Hello, <%= current_user.username%>.</h1>
      <h2> Welome to Martin Family Orchards!</h2>
    <% else %>
      <h2>Welcome to Martin Family Orchards!</h2>
    <% end %>
  </div>
  <div class="btn btn-success">
  <%= link_to "Checkout available Fruit", products_path %>
</div>
</div>
